{% extends 'base.html' %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0"><br><br><br>

<script>
function sat(){
    alert('Are you sure you want to restart ')
}

function copytable(el) {
    var urlField = document.getElementById(el)   
    var range = document.createRange()
    range.selectNode(urlField)
    window.getSelection().addRange(range) 
    document.execCommand('copy')
}
</script>
<style>
      .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
</style>

<form action="reload" method="post">
    {% csrf_token %}
    <input type="text" size="25" name="pass" >
    <button type="submit">Restart</button>
</form>

<br>
<input type=button value="Copy to Clipboard" onClick="copytable('t')">


    <table id="t" class="styled-table">

        <thead>
            <tr>
                <th>Worker</th>
                <th>Pay</th>
            </tr>
        </thead>
        {% for i in checks %}
        {% if i.true_fasle == 'T' %}
        <tbody>
          <!--  <tr>
                <td>{{value}}</td>
            </tr>-->
            <tr class="active-row">
                <td>{{i.reciver}}</td>
                <td>{{i.money}}</td>
    
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</table>

<b>Users Count: {{D}}</b>

{% endblock %}