{% extends 'base.html' %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
    .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color:Tomato;
    color: white;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid Tomato;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color:black;
}
</style>
<body>
    


<table class="styled-table">

    <thead>
        <tr>
            <th>Subject</th>
            <th>Post</th>
        </tr>
    </thead>
    {% for key,value in subject.items %}
    <tbody>
      <!--  <tr>
            <td>{{value}}</td>
        </tr>-->
        <tr class="active-row">
            <td>{{key}}</td>
            <td>{{value}}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>
<br><br>
<table class="styled-table">

    <thead>
        <tr>
            <th>Grade</th>
            <th>Post</th>
        </tr>
    </thead>
    {% for key,value in grade.items %}
    <tbody>
      <!--  <tr>
            <td>{{value}}</td>
        </tr>-->
        <tr class="active-row">
            <td>{{key}}</td>
            <td>{{value}}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
{% endblock %}