{% extends 'base.html' %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>

    


  .id{
    border-radius: 9px;
    
  }

.btn{
  background-color:Tomato;
  width:70px;
  height:40px;
  color:white;
  border-radius:5px;
}
  
.but{
  background-color:black;
  width:50px;
  height:20px;
  color:white;
  border-radius:5px;
}
  /*#E9EBEE ;     visibility:;
   */
  .add{
    border-radius: 6px;
    height: 30px;
    width: 330px;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;     
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  }
  
  #co {
    background-color:#E9EBEE;
    border-radius: 10px;
    border-color:#FFFAF0;
  }
  #color{
    border: 5px solid black;
  }

  .cdiv {
      width:400px;
      height:500px;
      display:none;
  }

  
  p {
    font-size: 18px;
  }


  /*h3 {
    font-size: 20px;
    color:red;
    width:160px;
    border:3px solid Tomato;
  }
*/

.f {
    font-size: 25px;
}

  hr {
   background-color:black;
  }

</style>
<script>
    

      function toggleText(){
        var x = document.getElementById("My");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }
   

</script>

{% if messages %}
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  {% for message in messages %}
  <strong></strong><p class="f">{{message}}</p>
  {% endfor %}
</div>
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=AM_CHTML"></script><br>
<p>{{int}}</p>
<center><form action="date" method="post">
  {% csrf_token %}
  <select name="myselect" class="id" id="myselect">
    <option value="yes">Answerd</option>
    <option value="no">Unanswerd</option>
</select>
<select class="id" name="grade" id="myselect">
    <option value="Grade4">Grade 4</option>
    <option value="Grade5">Grade 5</option>
    <option value="Grade6">Grade 6</option>
    <option value="Grade7">Grade 7</option>
    <option value="Grade8">Grade 8</option>
    <option value="Grade9">Grade 9</option>
    <option value="Grade10">Grade 10</option>
    <option value="Grade11">Grade 11</option>
    <option value="Grade12">Grade 12</option>
    <option value="Tetiary">Tetiary</option> 
    <option value="Other">Other</option> 
</select>
<select class="id" name="sub" id="myselect">
  <option value="Maths">Maths</option>
              <option value="Life Science">Life science</option>
              <option value="Physics">Physics</option>
              <option value="Natural Science">Natural Science</option>
              <option value="Geography">Geography</option>
              <option value="Maths Literacy">Maths Literacy</option>
              <option value="Technology">Technology</option>
              <option value="Accounting">Accounting</option>
              <option value="EMS">EMS</option>
              <option value="Nursing">Nursing</option>
              <option value="Music">Music</option>
              <option value="Medical">Medical</option>
              <option value="Economics">Economics</option>
              <option value="Law">Law</option>
              <option value="Chemistry">Chemistry</option>
              <option value="Education">Education</option>
              <option value="Engineering">Engineering</option>
              <option value="Psychology">Psychology</option>
              <option value="Pharmacy">Pharmacy</option>
              <option value="Business">Business Administration</option>
              <option value="Statistics">Statistics</option>
              <option value="Art">Art</option>
              <option value="Computer Science">Computer Science</option>
              <option value="Accounting">Accounting</option>
              <option value="Architecture">Architecture</option>
              <option value="Hospitality ">Hospitality </option>
              <option value="Finance">Finance</option>
              <option value="Agriculture">Agriculture</option>
              <option value="Other">Other</option>
              <option value="Journalism and Mass Communication">Journalism and Mass Communication</option>
</select>

<input class="add" type="text" size="20" name="ccc" placeholder="description">
<input class="but" type="submit" value="Search">
</form></center>

<!-- ======content section/body=====-->
<section class="main-content920">
  <div class="container">
      <div class="row">
          <div class="col-md-9">
              <div id="main">
                  <input id="tab1" type="radio" name="tabs" checked>
                 <!-- <input id="tab2" type="radio" name="tabs">
                  <label for="tab2">Most Response</label>
                  <input id="tab3" type="radio" name="tabs">
                  <label for="tab3">Recently Answered</label>
                  <input id="tab4" type="radio" name="tabs">
                  <label for="tab4">No Answer</label>
                  <input id="tab5" type="radio" name="tabs">
                  <label for="tab5">Recent Post</label>-->
                  
              
                                           <!--Recent Question Content Section 

                  <section id="content1">
                         <div class="question-type2033" style="border:2px solid red;" >

                            <div class="row">
  
                                <div class="col-md-1">
  
                                  
                                </div>
                                <div class="col-md-9">
                                    <div class="right-description893">
                                        <div id="que-hedder2983">
                                            <h3><a href="post-deatils.html" target="_blank"> </a></h3> </div>
                                            <div class="ques-details10018">
                                              <p>  </p>
                                              <h4>  Advertisement </h4>

                                          </div>
                                          <hr>
  
                                      
                                        
                                      </div>
                                  </div>   
                                <div class="col-md-2">
                                    <div class="ques-type302">
                                        <a href="#">
                                        </a>
                                        <a href="#">
                                        </a>
                                    </div>
                                </div><br>
                            </div>
                        </div>

                    

                    -->
                             
                     <!--   <div class="question-type2033" style="border:2px solid red;" >

                            <div class="row">
  
                                <div class="col-md-1">
  
                                </div>
                                <div class="col-md-9">
                                    <div class="right-description893">
                                        <div id="que-hedder2983">
                                            <h3><a href="post-deatils.html" target="_blank"> </a></h3> </div>
                                            <div class="ques-details10018">
                                                <h4>  Advertisement </h4>

                                              <p>  </p>
                                          </div>
                                          <hr>
                                        
                                        
                                      </div>
                                  </div>   
                                <div class="col-md-2">
                                    <div class="ques-type302">
                                        <a href="#">
                                        </a>
                                        <a href="#">
                                        </a>
                                    </div>
                                </div><br>
                            </div>
                        </div>-->
                
                    {% if user_count > 0 %}
                    
                    {% else %}
                    <h2> You have not asked questions yet.</h2>
                    <h4>watch video for tutorial</h4>
                     <button>Watch Video</button>
                    {% endif %}


           {% for post in object_list %}

                      <div class="question-type2033" style="border:2px solid red;" >

                          <div class="row">

                              <div class="col-md-1">

                                  <div class="left-user12923 left-user12923-repeat">
                                      <a href="#"> </a> <a href="{% url 'core:post' post.id post.slug %}"><i class="fa fa-user" style="font-size:24px" aria-hidden="true"></i></a> </div>
                              </div>
                              <div class="col-md-9">
                                  <div class="right-description893">
                                      <div id="que-hedder2983">
                                          <h3><a href="post-deatils.html" target="_blank">{{ post.sub }}  </a></h3> </div><hr>
                                          <div class="ques-details10018">
                                            <p>  {{ post.content|slice:":400"|linebreaks }}........ .</p>
                                        </div>
                                        <hr>
                                        <div class="ques-icon-info3293"></i> </a>  <a href="#"><i class="fa fa-clock-o" aria-hidden="true"> created: {{ post.created_on|date:"N j Y" }}  </i><br></a><p></p>
                                          <a href="#"><i class=" " aria-hidden="true"></i></a>     
                                          {% if post.comment_set.count > 0 %}    
                                             Answers:{{ post.comment_set.count }} 
                                          {% else %}

                                          {% endif %}
                                        </div><br>

                                        <a  class='btn' href="{% url 'core:post' post.id post.slug %}"> Solution </a>

                                      
                                    </div>
                                </div>   
                              <div class="col-md-2">
                                  <div class="ques-type302">
                                      <a href="#">
                                      </a>
                                      <a href="#">
                                      </a>
                                  </div>
                              </div><br>
                          </div>
                      </div>

                      {% endfor %}
                      <nav aria-label="Page navigation">
                        <ul class="pagination">

                          {% if object_list.has_previous %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                          </li>
                          {% else %}
                          <li class="page-item disabled">
                            <a class="page-link" href="#">Previous</a>
                          </li>
                          {% endif %}
                    
                          {% for i in object_list.paginator.page_range %}
                          <li class=" page-item {% if page_obj.number == i %}active{% endif %}">
                              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                          </li>
                          {% endfor %}
                  
                          {% if object_list.has_next %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                          </li>
                          {% else %}
                          <li class="page-item disabled">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                          </li>
                         {% endif %}
                        </ul>
                      </nav>        <!--End of content-5-->
                    
                  </section>
         
             </div>
          </div>
          <!--end of col-md-9 -->
          
  <!--strart col-md-3 (side bar)-->
  <aside class="col-md-3 sidebar97239">
    <div class="status-part3821">
        <h4>Statistics</h4> <a href="#"><i class="fa fa-question-circle" aria-hidden="true"> Question({{P}})</i></a> <i class="fa fa-comment" aria-hidden="true"> Answers({{C}})</i> </div>
    <div class="categori-part329">
        <h4>Category</h4>
        <ul class="list-unstyled">
          <b> <li><a href="{% url 'core:category2' 'Business' %}" title="">Business <span class="pull-right"></span></a></li></b>
          <b>	<li><a href="{% url 'core:category2' 'Technology' %}" title="">Technology <span class="pull-right"></span></a></li></b>
          <b>	<li><a href="{% url 'core:category2' 'Maths' %}" title="">Maths <span class="pull-right"></span></a></li></b>
          <b>	<li><a href="{% url 'core:category2' 'Economics' %}" title="">Economics <span class="pull-right"></span></a></li></b>
          <b>	<li><a href="{% url 'core:category2' 'Medical' %}" title="">Medicine <span class="pull-right"></span></a></li></b>
          <b>	<li><a href="{% url 'core:category2' 'Life Science' %}" title="">Life Science <span class="pull-right"></span></a></li></b>
          <b>	<li><a href="{% url 'core:category2' 'Education' %}" title="">Education<span class="pull-right"></span></a></li></b>
            <b><li><a href="{% url 'core:category2' 'Chemistry' %}" title="">Chemistry<span class="pull-right"></span></a></li></b>
          <b>	<li><a href="{% url 'core:category2' 'Physics' %}" title="">Physics<span class="pull-right"></span></a></li></b>
          <b>  <li><a href="{% url 'core:category2' 'Music' %}" title="">Music<span class="pull-right"></span></a></li></b>
           <b> <li><a href="{% url 'core:category2' 'Art' %}" title="">Arts<span class="pull-right"></span></a></li></b>
        <b>		<li><a href="{% url 'core:category2' 'Agriculture' %}" title="">Agriculture<span class="pull-right"></span></a></li></b>
        </ul>
    </div>
    <!--             social part -->
    






{% endblock %}
